.text-images-and-result
{
	background: #ffe5d1;
	padding: 30px;
	border-radius: 20px;
	width: 50%;
	display: inline-block;
	box-shadow: 5px 5px 18px rgb(255, 196, 0);
}
span
{
	color: red;
	font-size: 16px;
}	
li img
{
	width: 200px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 0px;
}